@import url(" https://yarnpkg.com/en/package/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$main-color: #000000;
$text-color: #a8a8a8;
$tittle-color: #fb6d3a;
$side-bar__title-color: #ffffff;
$bg-color: #f5f7fa;
$main-text-color: #595959;
$side-bar-bg: #1e2939;
