.about-me {
  width: 400px;
  margin-right: 342px;
}

.about-me__title {
  margin-bottom: 19px;
  line-height: 1.21;

  color: $main-color;
}

.about-me__name {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.22;
  color: $main-color;
}

.about-me__text {
  margin-bottom: 40px;
}
