.project__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.23;
  color: #000000;
}

.project__list {
  list-style: none;

  padding: 0;
}

span {
  margin-right: 13px;
  font-weight: 700;

  color: #000000;
}
